In [1]:
from glob import glob
from collections import defaultdict
import pandas as pd

In [3]:
p_lims = [0.05, 0.003]

In [65]:
counts = defaultdict(dict)
for path in glob("./Results/*/p_values.csv"):
    model_name = path.split("/")[-2]
    df = pd.read_csv(path, index_col=0)
    for p_lim in p_lims:
        df_ = df[df["p-value"] < p_lim]
        counts[model_name][p_lim] = len(df_)/len(df)
        # break
    # break

In [66]:
counts = pd.DataFrame.from_dict(counts, orient="index")
counts = counts.reset_index(names="model")
counts.head()

           model  0.05  0.003
0    RN50-openai  0.47   0.27
1   RN50-yfcc15m  0.70   0.61
2     RN50-cc12m  0.58   0.41
3   RN101-openai  0.58   0.35
4  RN101-yfcc15m  0.67   0.49

In [67]:
def split_name(row):
    name = row.model
    dst = name.split("-")[-1]
    name = "-".join(name.split("-")[:-1])
    return {"model": name, "dataset": dst}

In [75]:
counts = pd.concat([counts.apply(split_name, result_type="expand", axis=1), counts.drop("model", axis=1)], axis=1)
counts.head()

   model  dataset  0.05  0.003
0   RN50   openai  0.47   0.27
1   RN50  yfcc15m  0.70   0.61
2   RN50    cc12m  0.58   0.41
3  RN101   openai  0.58   0.35
4  RN101  yfcc15m  0.67   0.49

In [76]:
counts.to_csv("pass_test_results.csv", index=0)